@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="game-title">

	</div>
	<div class=menu-container></div>
	
</root>

@code
{



	protected override int BuildHash() 
	{
		return System.HashCode.Combine("");
	}
}