PauseHud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(black, 0.7);
	font-family: Poppins;
	color: white;
	pointer-events: all;
	font-size: 64px;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	>h2 
	{
		font-size: 128px;
		font-weight: bold;
	}
	>.options{
		flex-direction: column;
		align-items: center;
	}
	&.hide
	{
		opacity: 0;
	}
	
}