@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="@(isPaused ? "" : "hide") ">
	<h2>Paused</h2>
	<div class="options">
		<div class="button">Resume</div>
		<div class="button">Exit</div>
	</div>

</root>

@code
{
	public bool isPaused { get; set;}
	protected override void OnUpdate()
	{
	
		if(Input.EscapePressed)
		{
			
			isPaused = !isPaused;
			Log.Info(isPaused);
		}
		/* Scene.TimeScale = isPaused ? 0 : 1;
		This currently is behaving weird , player finishes and movement they have
		but animations pause, props still will move. This is fine as we eventually
		want multiplayer but for initial release there's no pausing game
		*/
	}
	
	protected override int BuildHash() => System.HashCode.Combine( isPaused );
}