@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	
		<p class="curTimer">⏱️@GetCurrentTimeToString()</p>
		<p class="sessionPBTimer">🕒@GetBestTimeToString()</p>

</root>

@code
{
	PlayerTimer plyTimer;
	protected override void OnEnabled()
	{
		GameManager.OnGameStateChanged += GameManger_OnGameStateChanged;
	}
	protected override void OnDisabled()
	{
		GameManager.OnGameStateChanged -= GameManger_OnGameStateChanged;
	}

	void GameManger_OnGameStateChanged(GameState state)
	{
		if (state == GameState.ROUND_START)
		{
			plyTimer = Scene.GetAllComponents<PlayerTimer>().FirstOrDefault();
		}
	}
	
	string GetCurrentTimeToString()
	{
		var timer = plyTimer.playerCurrentTime;
		var minutes = (int)timer/60;
		var seconds = (int)timer%60;
		return $"{minutes:00}:{seconds:00}";
	}
	string GetBestTimeToString()
	{
		var best = GameManager.Instance.playerBestTimeReference;
		var minutes = (int)best/60;
		var seconds = (int)best%60;
		return $"{minutes:00}:{seconds:00}";
	}
	protected override int BuildHash() 
	{
		return System.HashCode.Combine( GetCurrentTimeToString(), GetBestTimeToString());
	}
}